body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e; /* Dark background color */
  color: #fff; /* Text color */
}

.container {
  display: flex;
  height: 100%;
}

.editor {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  overflow-y: auto;
  background-color: #333; /* Darker background color for editor */
}

h2 {
  margin-top: 0;
  color: #ccc; /* Heading color */
}

textarea {
  margin-bottom: 10px;
  padding: 6px;
  width: 100%;
  border: 1px solid #555; /* Border color for textarea */
  resize: vertical;
  background-color: #444; /* Textarea background color */
  color: #fff; /* Text color */
}

textarea:focus {
  outline: none;
  border-color: #007bff;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff; /* Add a border for better visibility */
  border-radius: 5px; /* Add some border radius for a softer look */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Add transitions for smoother hover effect */
}

button:hover {
  background-color: #0056b3; /* Darken the background color on hover */
  border-color: #0056b3; /* Darken the border color on hover */
}

button:disabled {
  background-color: #6c757d; /* Darker background color for disabled state */
  color: #ccc; /* Lighter text color for disabled state */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
  border-color: #6c757d; /* Match border color with background for disabled state */
}

.copy-btn {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.copy-btn:hover {
  background-color: #333;
  color: #fff;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-container label {
  margin-right: 10px;
}

.input-container .left-main {
  flex-grow: 1;
}

.delete-button {
  border: none;
  background-color: transparent;
  color: red;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.hidden {
  display: none;
}
