body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  /* Dark background color */
  color: #fff;
  /* Text color */
}

.container {
  display: flex;
  height: 100%;
}

.editor {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  overflow-y: auto;
  background-color: #333;
  /* Darker background color for editor */
}

h2 {
  margin-top: 0;
  color: #ccc;
  /* Heading color */
}

textarea {
  margin-bottom: 10px;
  padding: 6px;
  width: 100%;
  border: 1px solid #555;
  /* Border color for textarea */
  resize: vertical;
  background-color: #444;
  /* Textarea background color */
  color: #fff;
  /* Text color */
}

textarea:focus {
  outline: none;
  border-color: #007bff;
}

.btn {
  padding: 10px 20px;
  background-color: #1e1e1e;
  /* Dark background color for .btn */
  color: #fff;
  border: 1px solid #1e1e1e;
  /* Dark border color for .btn */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn:hover {
  background-color: #19607d;
  /* Darken the background color on hover */
  border-color: #441b1b;
  /* Darken the border color on hover */
}

.btn:disabled {
  background-color: #6c757d;
  /* Darker background color for disabled state */
  color: #ccc;
  /* Lighter text color for disabled state */
  cursor: not-allowed;
  /* Change cursor to indicate disabled state */
  border-color: #6c757d;
  /* Match border color with background for disabled state */
}

.icon-btn {
  width: 24px;
  height: 24px;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
}

.copy-btn {
  padding: 5px 10px;
}

.copy-btn:hover {
  background-color: #333;
  color: #fff;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-container label {
  margin-right: 10px;
}

.input-container .left-main {
  flex-grow: 1;
}

.delete-button {
  border: none;
  background-color: transparent;
  color: #9f9f9f;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-left: 1em;
  transition: transform 0.3s ease; /* 添加过渡效果 */
}

.delete-button:hover {
  transform: rotate(-90deg); /* 设置hover时的旋转效果 */
}

.hidden {
  display: none;
}